<main>
  <header>
    <div class="title">
      <img class="logo" src="icons/icon-96x96.png" width="48" height="48" alt="" />
      <h1>Lista de Compras</h1>
    </div>

    <a routerLink="stats" matIconButton aria-label="Ver estatísticas">
      <mat-icon>bar_chart</mat-icon>
    </a>
  </header>

  <section>
    <ul>
      @for (item of groceries(); track item.id) {
      <li>
        <mat-checkbox
          [id]="'checkbox-' + item.id"
          [checked]="item.checked"
          [disabled]="item.text.trim().length == 0"
          (change)="onCheckboxChange($event, $index)"
        />

        <mat-form-field class="grow">
          <input
            #groceryInput
            matInput
            type="text"
            enterkeyhint="done"
            debounceInput
            placeholder="Escreve aqui..."
            name="grocery-item"
            autocomplete="grocery-item"
            [id]="'input-' + item.id"
            [value]="item.text"
            [disabled]="item.checked"
            (focus)="setFocus($index)"
            (blur)="setFocus(-1)"
            (keydown)="onKeyDown($event, $index)"
            (debouncedInput)="onInput($event, $index)"
            (keyup)="onKeyUp($event, $index)"
          />
          @if (focusIndex() === $index || item.text.length === 0) {
          <button matSuffix matIconButton aria-label="Ver sugestões" (click)="openSuggestions($event, $index)">
            <mat-icon>list</mat-icon>
          </button>
          }
        </mat-form-field>
      </li>
      }
    </ul>
  </section>

  <footer>
    <div class="footer-actions">
      <button matButton="filled" [disabled]="checkedCount() === 0" (click)="onCleanupClick()">
        Limpar
      </button>
    </div>
  </footer>
</main>
